
        #navbar {
            height: 120px;
            width: 85%;
            margin: auto;
            display: flex;

        }

        #navbar img {
            margin-top: -20px;
            width: 200px;
        }

        #navbar input {
            width: 500px;
            height: 25px;
            margin-top: 50px;
            margin-left: 10px;
        }

        #name li {
            display: flex;
            margin-left: 50px;
            margin-top: 15px;
        }

        #name {
            display: flex;
            width: 4000px;
        }

        #cart>p {
            margin-left: 50px;
        }



        #menu button:nth-child(1) {
            width: 250px;
            height: 40px;
            margin-left: 100px;
            margin-top: -30px;
            background-color: rgb(132, 194, 37);
            border: 0px;
            color: aliceblue;
            font-weight: bolder;
        }

        #offer {
            width: 80px;
            height: 40px;
            margin-top: -30px;
            border: 0px;
        }


        #dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        #dropdown-content a {
            color: rgb(49, 44, 44);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        #menu {
            position: relative;
            display: flex;
        }

        #dropdown-content a:hover {
            background-color: #ddd;

        }

        #menu:hover #dropdown-content {
            display: block;
            margin-left: 100px;
            width: 250px;
        }

        a:hover {
            font-weight: bold;
        }

        a {
            height: 10px;
            font-size: medium;
        }

        #midimg {
            width: 85%;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }

        #midimg>img {
            width: 177px;
            justify-content: space-between;
        }

        #midimg>img:hover {
            cursor: pointer;
        }

        h2 {
            text-align: center;
            margin-top: 30px;
        }

        #bankoffer {
            width: 85%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 15px;


        }

        #bankoffer>img {
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }

        #bankoffer>img:hover {
            cursor: pointer;
        }

        #midproduct {
            height: 400px;
            width: 85%;
            margin: auto;
            display: grid;
            margin-top: 30px;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 400px);
            column-gap: 20px;
        }

        #midproduct div {
            height: 400px;
        }

        .nonveg {
            width: 30px;
        }

        .company {
            font-size: small;
        }

        #midproduct div>button {
            margin-top: 10px;
        }

        #midproduct select {
            width: 80%;
        }

        .mostpopular {
            width: 85%;
            height: 200px;
            margin: auto;
            display: flex;
            justify-content: space-between;

        }

        .mostpopular img {
            width: 24%;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

        }

        .mostpopular img:hover {
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            cursor: pointer;
        }

        .fruit {
            width: 85%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 200px);
            gap: 20px;


        }

        .fruit div {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }

        .fruit div:nth-child(1) {
            grid-row: span 2;
            grid-column: span 2;
        }

        .staples {
            width: 85%;
            height: 100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }

        .staples img {
            width: 15%;
            height: 130px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }

        #scrolimg {
            width: 85%;

            margin: auto;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            margin-top: 55px;
        }

        #discription {
            width: 85%;
            margin: auto;
            height: 500px;
            border: 1px solid rgb(22, 19, 19);
            margin-top: 60px;

        }

        #discription div {
            padding-left: 30px;
        }

        #help {
            width: 85%;
            margin: auto;
            height: 420px;
            margin-top: 30px;
            display: flex;
            padding-left: 20px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

        }

        #help div {
            height: 400px;
            width: 25%;
        }

        #help div p:nth-child(1) {
            color: green;
            font-weight: bold;
        }

        #social img {
            width: 50px;

        }

        #popular {
            width: 85%;
            height: 400px;
            margin: auto;
            margin-top: 30px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        #popular img {
            width: 80px;
        }
   